<nav class="navbar navbar-expan-sm bg-primary navbar-dark cost">
    <ul class="navbar-nav">
        <!-- <li class="nav-item cost"> -->
            <a class="nav-link l "routerLinkActive="active" routerLink="/home">All STUDENT</a>
            <a class="nav-link l" routerLink="/create-student">CREATE STUDENT</a>
        <!-- </li> -->
    </ul>
</nav>


<h1 class="text-center"> Student Placement Report</h1>
<div class="container">
<router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Made By Abhimanyu</span>
    </div>

</footer>